* {margin: 0; padding: 0; box-sizing: border-box;}

body{
	background-image: url('../img/wall.png');
	/*background-color: black;*/
	
}

h1{
	text-align: center;
	margin: 15% 15% 0 15%;
	color: #fc721d;
	font-size: 65px;
}

h2{
	text-align: center;
	margin: 0 15% 0 15%;
	color: #fc721d;
	font-size: 65px;
}

form{
	border: 3px solid #f1f1f1;
	margin: 3% 15% 15% 15%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 24px;
}

input[type=submit], input[type=reset] {
  background-color: #3b3837;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 30px;
}

input[type=submit]:hover, input[type=reset]:hover {
  opacity: 0.8;
}

input[type=reset] {
  width: auto;
  padding: 10px 18px;
  background-color: #fc721d;
  font-size: 20px;
}

.container {
  padding: 16px;
}

@media screen and (max-width: 300px) {
  input[type=reset] {
     width: 100%;
  }
}

#agents {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin: 3% 10% 10% 10%;
  text-align: center;
}

#agents td, #agents th {
  border: 1px solid #ddd;
  padding: 8px;
}

#agents tr:nth-child(even){
	background-color: #f2f2f2;
}

#agents tr:nth-child(odd){
	background-color: #f8d8c4;
}

#agents tr:hover {
	background-color: #3b3837;
	color: white;
}

#agents th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fc721d;
  color: white;
}

#lists {
	display: grid;
    margin: 80px;
}

#spie, #fbi {
  background: none!important;
  border: none;
  padding: 20px;
  font-family: arial, sans-serif;
  color: #e4d660;
  text-decoration: underline;
  cursor: pointer;
  font-size: 33px;
}